 <div class=" text-center footerContainer Opacity">
     
     <!--style="display:flex; flex-wrap: wrap;"-->
        <div>
                <p>
                <a href="/">Front Range Publishings</a>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                <a href="/gallery">Home</a>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                <a href="/about">About</a>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                <a href="/contact">Contact</a>
                </p>
                 
                <a href="https://www.facebook.com/?stype=lo&jlou=AffokXgpBrqhTVDMQyL3Sfl1U2vm7DcQ260qixOlZsfX-j-QwulFs4UDR8NKTL0tbBmqhHKqosVuYGC1t619aqfsoF65QWOsnNKfgyTeTMiOAg&smuh=25234&lh=Ac_R2uEcAnsOUU0t"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
               <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
               
                <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                
                <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <i class="fa fa-snapchat" aria-hidden="true"></i>
    </div>
    
    
    
    
    
    <!--<div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 thumbnail">-->
         
    <!--            <p><a href="/gallery">Home</a></p>-->
           
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 thumbnail">-->
           
    <!--            <p><a href="/about">About</a></p>-->
          
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-4 col-sm-3 col-xs-3 thumbnail">-->
            
    <!--            <p><a href="/contact">Contact</a><p>-->
            
    <!--</div>-->
    
        </body>
</html>