<% include ./partials/header %> 

<form action="/about" method="get">
 <div class="container">
 <!--    <header class="jumbotron">-->
 <!--        <div class="divSlideshow container">-->
 <!--            <h1>Photography</h1>-->
 <!--            <p>View our Collections of Photos</p>-->
 <!--           </div>-->
 <!--    </header>-->
 <!--</div>    -->
     <div class="slideshowContainer">
      <ul class="slideshow">
                   <li></li>
                   <li></li>
                   <li></li>
                   <li></li>
                   <li></li>
              </ul>
      </div>
     <div class="thumbnail" style="display:flex; flex-wrap: wrap;">
                <div>
                <h3>About</h3>
                <p>As a Colorado Native, I have been fortunate to have the opportunity of seeing and photograhping some of the most beautiful sights Colorado's landscape and wildlife has to offer. As a nature enthusiast, explorer, and adventurer at heart, it's my hope to travel the world and share more of the wonders this world has to offer with others! The purpose of this website is to showcase my abilities in both photograhy and web developing. It is my goal to use one or both of these skills to travel around the world with my Husband, to seek the many adventures this world has to offer. I hope you enjoy some of the scenes from around Colorado and some of our other adventures, and that it inspires you to get out and explore!</p>
                
                </div>
 </div>   
    <!--Slide show div experiment-->
        
</div>
</form>

<% include ./partials/footer %>