<% include ./partials/header %> 

<form action="/contact" method="get">
 
 <div class="container">
     <!--<header class="jumbotron">-->
     <!-- <div class="divSlideshow container">-->
     <!--        <h1>Front Range Publishings</h1>-->
     <!--       </div>-->
     <!--</header>-->
    
     <div class="thumbnail" style="display:flex; flex-wrap: wrap;">
        
                <h3 class= "h3">Contact</h3>
                <p class="contact">If you're interested in web developing or photography services, please feel free to email me at Katrina.Lieber@gmail.com</p>
                
                </div>
    </div>
    
     <div class= "slideshowContainer">
        <ul class="slideshow">
                   <li></li>
                   <li></li>
                   <li></li>
                   <li></li>
                   <li></li>
              </ul>
      </div>
      
      
</div>
</form>

<% include ./partials/footer %>