<% include ./partials/header %> 

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 thumbnail">
            <div class="textAlign">
                    <br><h1>Login!</h1><br />
                    <form action="/login" method="POST">
                    <br><input type="text" name="username" placeholder="username"><br />
                    <br><input type="password" name="password" placeholder="password"><br />
                    <br><input type="submit" value="Login!"><br />
                    </form>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %> 