<% include ./partials/header %> 

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 thumbnail">
            <div class="textAlign">
                    <br><h5>Only Authorized Personnel are allowed to Sign Up!</h5><br />
                    
                    <!--<form action="/register" method="post">-->
                    <!--    <br><input type="text" name="username" placeholder="username"><br />-->
                    <!--    <br><input type="password" name="password" placeholder="password"><br />-->
                    <!--    <br><button>Sign Up</button><br />-->
                    <!--</form>-->
            </div>
            <div class="goBackBtn">
        <a href="/gallery">Go Back</a>
        </div>
        </div>
    </div>
</div>  
                    
                    
<% include ./partials/footer %> 